img {
    height: 320px;
    margin-left: 150px;
    padding: 20px;
    float: left;
}

.heading {
    margin-bottom: 100px;
    text-align: center;
    padding: 20px;
}

.description {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    width: 90%;
    
}

.price {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    width: 90%;
}
